<nb-card size="xlarge">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">Rutas Activas</span>
      
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="cameras single-view" *ngIf="isSingleView">
      <div class="camera" [style.background-image]="'url(' + selectedCamera.source + ')'">
        <span>{{ selectedCamera.title }}</span>
      </div>
    </div>
    <div class="cameras" *ngIf="!isSingleView">
      <div class="camera col-sm-6" *ngFor="let camera of cameras" [style.background-image]="'url(' + camera.source + ')'"
           (click)="selectCamera(camera)">
        <span>{{ camera.title }}</span>
      </div>
    </div>
  </nb-card-body>
 
</nb-card>
