<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Rutas</nb-card-header>

      <nb-card-body>
        <div class="pull-left" style="margin-bottom: 20px;">
          <button  *ngIf="OcultaTabla" class="btn btn-hero-success main-btn" (click)="NuevaRuta()">Crear Nueva Ruta</button>
        </div>
           <div *ngIf="OcultaTabla">
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">C. Manifiesto</th>
                    <th scope="col">Serie Manifiesto </th>
                    <th scope="col">Cod MTC </th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><button class="btn btn-rectangle btn-hero-info btn-tn" (click)="gteRutaactuliza()"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                      <button class="btn btn-rectangle btn-hero-danger btn-tn" (click)="borraRuta()"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button></td>
                  </tr>
                </tbody>
            </table>
           </div>
           <div *ngIf="DisplayFormulario">
             <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Descripcion</label>
                      <input type="text" class="form-control" [(ngModel)]="Descripcion" id="Descripcion" placeholder="Descripcion">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Fecha</label>
                      <input type="date" class="form-control" [(ngModel)]="Fecha" id="Fecha" placeholder="Fecha">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Origen</label>
                      <input type="text" class="form-control" [(ngModel)]="Origen" id="Origen" placeholder="Origen">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Destino</label>
                      <input type="text" class="form-control" [(ngModel)]="Destino" id="Destino" placeholder="Destino">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Resolucion</label>
                      <input type="text" class="form-control" [(ngModel)]="Resolucion" id="Resolucion" placeholder="Resolucion">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Estado</label>
                      <input type="text" class="form-control" [(ngModel)]="Estado" id="Estado" placeholder="Estado">
                    </div>
                </div>
              </div>
             <div class="pull-right">
                   <button class="btn btn-hero-success main-btn" (click)="GavaRuta()">{{estadoBoton}}</button>
                   <button class="btn btn-hero-info main-btn" (click)="CanRuta()">Cancelar</button>
                </div>
           </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>
