<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Agencias</nb-card-header>

      <nb-card-body>
        <div class="pull-left" style="margin-bottom: 20px;">
          <button  *ngIf="OcultaTabla" class="btn btn-hero-success main-btn" (click)="NuevaAgencia()">Crear Nueva Agencia</button>
        </div>
           <div *ngIf="OcultaTabla">
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">C. Manifiesto</th>
                    <th scope="col">Serie Manifiesto </th>
                    <th scope="col">Cod MTC </th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><button class="btn btn-rectangle btn-hero-info btn-tn" (click)="gteAgenciaactuliza()"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                      <button class="btn btn-rectangle btn-hero-danger btn-tn" (click)="borraAgencia()"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button></td>
                  </tr>
                </tbody>
            </table>
           </div>
           <div *ngIf="DisplayFormulario">
             <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Razon Social</label>
                      <input type="text" class="form-control" [(ngModel)]="RazonSoc" id="RazonSoc" placeholder="Razon Social">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Direccion</label>
                      <input type="text" class="form-control" [(ngModel)]="Direccion" id="Direccion" placeholder="Direccion">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Empresa</label>
                      <input type="text" class="form-control" [(ngModel)]="Empresa" id="Empresa" placeholder="Empresa">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Telefono</label>
                      <input type="text" class="form-control" [(ngModel)]="Telefono" id="ModeloBus" placeholder="Telefono">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Distrito / Pueblo</label>
                      <input type="text" class="form-control" [(ngModel)]="DistritoP" id="DistritoP" placeholder="Distrito / Pueblo">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputEmail">Ultimo Manifiesto Emitido</label>
                      <input type="text" class="form-control" [(ngModel)]="UlMaEm" id="UlMaEm" placeholder="Ultimo Manifiesto Emitido">
                    </div>
                </div>
              </div>
             <div class="pull-right">
                   <button class="btn btn-hero-success main-btn" (click)="GavaAgencia()">{{estadoBoton}}</button>
                   <button class="btn btn-hero-info main-btn" (click)="CanAgencia()">Cancelar</button>
                </div>
           </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>
