<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Registro de Servicios por Ruta</nb-card-header>

      <nb-card-body>
           <div class="pull-left" style="margin-bottom: 20px;"> <button  *ngIf="OcultaTabla" class="btn btn-hero-success main-btn" (click)="NuevaServicio()">Crear Nueva Servicio</button></div>
       <div *ngIf="OcultaTabla">
          <table class="table" >
            <thead>
              <tr>
                <th scope="col">Direccion</th>
                <th scope="col">Tipo</th>
                <th scope="col">Modelo</th>
                <th scope="col">Estado</th>
                <th scope="col">Modalidad</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><button class="btn btn-rectangle btn-hero-info btn-tn" (click)="gteServicioactuliza()"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                  <button class="btn btn-rectangle btn-hero-danger btn-tn" (click)="borraServicio()"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button></td>
              </tr>
              
            </tbody>
          </table>
       </div>
        <div *ngIf="DisplayFormulario">
         <div class="row">
            <div class="col-sm-4 form-group">
              <label for="inputFirstName">Ruta</label>
              <select class="form-control" [(ngModel)]="tipopersona" (ngModelChange)="verificaServicio(tipopersona)">
                <option value="N" >Natural</option>
                <option value="J" >Juridica</option>
               </select>
            </div>
            <div class="col-sm-4 form-group">
              <label for="inputFirstName">Tipo de Servicio</label>
              <select class="form-control" [(ngModel)]="tipopersona" (ngModelChange)="verificaServicio(tipopersona)">
                <option value="N" >Natural</option>
                <option value="J" >Juridica</option>
               </select>
            </div>
            <div class="col-sm-4 form-group">
              <label for="inputFirstName">Modelo</label>
              <select class="form-control" [(ngModel)]="tipopersona" (ngModelChange)="verificaServicio(tipopersona)">
                <option value="N" >Natural</option>
                <option value="J" >Juridica</option>
               </select>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                  <label for="inputEmail">Hora de salida</label>
                  <input type="text" class="form-control" [(ngModel)]="numero" id="inputEmail" placeholder="00">
              </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                  <label for="inputEmail">Minutos</label>
                  <input type="text" class="form-control" [(ngModel)]="numero" id="inputEmail" placeholder="00">
              </div>
            </div>
            <div class="col-sm-2 form-group">
                <label for="inputFirstName">.</label>
              <select class="form-control" [(ngModel)]="tipopersona" (ngModelChange)="verificaServicio(tipopersona)">
                <option value="AM" >AM</option>
                <option value="PM" >PM</option>
               </select>
            </div>
            <div class="col-sm-6 form-group">
                <label for="inputFirstName">MOdalidad</label>
              <select class="form-control" [(ngModel)]="tipopersona" (ngModelChange)="verificaServicio(tipopersona)">
                <option value="N" >Natural</option>
                <option value="J" >Juridica</option>
               </select>
            </div>
         </div>
         <div class="pull-right">
           <button class="btn btn-hero-success main-btn" (click)="GavaServicio()">{{estadoBoton}}</button>
           <button class="btn btn-hero-info main-btn" (click)="CanServicio()">Cancelar</button>
       </div>
        </div> 
      </nb-card-body>
    </nb-card>

  </div>

</div>
