// @nebular theming framework
@import "~@nebular/theme/styles/theming";

// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: default, cosmic;
$color-fg-highlight: #94287E;
$nb-themes: nb-register-theme((sidebar-header-gap: 2rem, sidebar-header-height: initial, layout-content-width: 1400px, font-main: Roboto, font-secondary: Exo), default, default);

$nb-themes: nb-register-theme((sidebar-header-gap: 2rem, sidebar-header-height: initial, layout-content-width: 1400px, font-main: Roboto, font-secondary: Exo), cosmic, cosmic);

.nb-sidebar.menu-sidebar {
    padding: 0 !important;
}