<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
   
    <div class="logo" (click)="goToHome()"><img src="/assets/images/ogo.png" alt=""> <span (click)="goToHome()">Angel Divino</span></div>
  </div>
 
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  
  <nb-action>
    <nb-user [menu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
  </nb-action>
  

  
</nb-actions>
