<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Crear Persona</nb-card-header>

      <nb-card-body>
           <div class="row full-name-inputs">
              <div class="col-sm-4 input-group">
                <input type="text" placeholder="Nick" class="form-control"/>
              </div>
              <div class="col-sm-4 input-group">
                <input type="text" placeholder="Last Name" class="form-control"/>
              </div>
              <div class="col-sm-4 input-group">
                <input type="text" placeholder="Last Name" class="form-control"/>
              </div>
        </div>
      </nb-card-body>
    </nb-card>

    

    <nb-card>
      <nb-card-header>Selects</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label>Simple Select</label>
          <select class="form-control">
            <option>Minsk</option>
            <option>Gomel</option>
            <option>Brest</option>
            <option>Grodno</option>
            <option>Mogilev</option>
          </select>
        </div>
        <div class="form-group">
          <label>Multiple Select</label>
          <select multiple class="form-control">
            <option>Item 1</option>
            <option>Item 2</option>
            <option>Item 3</option>
            <option>Item 4</option>
            <option>Item 5</option>
          </select>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>
