<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Padron Buses</nb-card-header>

      <nb-card-body>
        <div class="pull-left" style="margin-bottom: 20px;">
          <button  *ngIf="OcultaTabla" class="btn btn-hero-success main-btn" (click)="NuevoBus()">Crear Nuevo Bus</button>
        </div>
        <br>
           
            <div *ngIf="OcultaTabla">
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Asientos</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><button class="btn btn-rectangle btn-hero-info btn-tn" (click)="gteBusesactuliza()"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                      <button class="btn btn-rectangle btn-hero-danger btn-tn" (click)="borraBuses()"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button></td>
                  </tr>
                </tbody>
            </table>
            </div>
            <div *ngIf="DisplayFormulario">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">Modelo Bus</label>
                    <input type="text" class="form-control" [(ngModel)]="ModeloBus" id="ModeloBus" placeholder="Modelo Bus">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">Marca</label>
                    <input type="text" class="form-control" [(ngModel)]="Marca" id="Marca" placeholder="Marca">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">Placa</label>
                    <input type="text" class="form-control" [(ngModel)]="Placa" id="Placa" placeholder="Placa">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">F. Adquisición</label>
                    <input type="date" class="form-control" [(ngModel)]="FAdquisicion" id="FAdquisicion" placeholder="F. Adquisición">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">N° Serie Motor</label>
                    <input type="text" class="form-control" [(ngModel)]="NSerieMotor" id="NSerieMotor" placeholder="N° Serie Motor">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">F. Fabricación </label>
                    <input type="date" class="form-control" [(ngModel)]="FFabricacion" id="FFabricacion" placeholder="F. Fabricación">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">Asientos</label>
                    <input type="text" class="form-control" [(ngModel)]="Asientos" id="Asientos" placeholder="Asientos">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="Estado">Estado</label>
                    <select class="form-control" [(ngModel)]="Estado">
                      <option value="volvo">Masculino</option>
                      <option value="volvo">Femenino</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="SOAT">SOAT Vigente</label>
                    <input type="text" class="form-control" [(ngModel)]="SOAT" id="SOAT" placeholder="SOAT">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">Caduca</label>
                    <input type="date" class="form-control" [(ngModel)]="CaducaSoat" id="CaducaSoat" placeholder="Caduca">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">T.U.C Vigente</label>
                    <input type="text" class="form-control" [(ngModel)]="TUCVigente" id="TUCVigente" placeholder="T.U.C Vigente">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputEmail">Caduca</label>
                    <input type="date" class="form-control" [(ngModel)]="CaducaTUC" id="CaducaTUC" placeholder="Número">
                  </div>
                </div>
               
              </div>
                <div class="pull-right">
                   <button class="btn btn-hero-success main-btn" (click)="GavaBus()">{{estadoBoton}}</button>
                   <button class="btn btn-hero-info main-btn" (click)="CanBus()">Cancelar</button>
                </div>
            </div>
         
      </nb-card-body>
    </nb-card>
  </div>

</div>
