<div class="row">
  <div class="col-lg-12">
  <nb-card>
    <nb-card-header>Registro General personas</nb-card-header>
      <nb-card-body>
        <div class="pull-left" style="margin-bottom: 20px;"> <button  *ngIf="OcultaTabla" class="btn btn-hero-success main-btn" (click)="NuevaPersona()">Crear Nueva Persona</button></div>
       <div *ngIf="OcultaTabla">
          <table class="table" >
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Doc</th>
                <th scope="col">Roles</th>
                <th scope="col">Giro</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><button class="btn btn-rectangle btn-hero-info btn-tn" (click)="gtePersonaactuliza()"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                  <button class="btn btn-rectangle btn-hero-danger btn-tn" (click)="borraPersona()"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button></td>
              </tr>
              
            </tbody>
          </table>
       </div>
       <div *ngIf="DisplayFormulario">
         <div class="row">
            <div class="col-sm-4 form-group">
              <label for="inputFirstName">Tipo de persona</label>
              <select class="form-control" [(ngModel)]="tipopersona" (ngModelChange)="verificaPersona(tipopersona)">
                <option value="N" >Natural</option>
                <option value="J" >Juridica</option>
               </select>
            </div>
          <div class="col-sm-4 form-group">
             <label for="inputFirstName">Documento</label>
              <select class="form-control" [(ngModel)]="documento" >
                <option value="volvo" >DNI</option>
                <option value="volvo" >Libreta Militar</option>
                <option value="volvo" >RUC</option>
                <option value="volvo" >Carnet De Extranjeria</option>
               </select>
            </div>
             <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputEmail">Número</label>
                  <input type="text" class="form-control" [(ngModel)]="numero" id="inputEmail" placeholder="Número">
              </div>
            </div>
          </div>
          <div class="row"  *ngIf="Pnatural">
            <div class="col-sm-4 form-group">
              <label for="inputEmail">Ape. Paterno</label>
              <input type="text" class="form-control" [(ngModel)]="apepaterno" id="inputEmail" placeholder="Número">
            </div>
          <div class="col-sm-4 form-group">
              <label for="inputEmail">Ape. Materno</label>
              <input type="text" class="form-control" [(ngModel)]="apematerno" id="inputEmail" placeholder="Número">
            </div>
             <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputEmail">Nombre(s)</label> 
                  <input type="text" class="form-control" [(ngModel)]="nombres" id="inputEmail" placeholder="Número">
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label for="inputEmail">Fecha de Nacimiento</label>
             
             <input type="date" class="form-control"  [(ngModel)]="fchaNacimeinto" id="fchaNacimeinto" placeholder="Fecha de Nacimiento ">
            </div>
            <div class="col-sm-4 form-group">
              <label for="inputFirstName">Sexo</label>
              <select class="form-control" [(ngModel)]="sexo">
                <option value="volvo">Masculino</option>
                <option value="volvo">Femenino</option>
               </select>
            </div>
            <div class="col-sm-4 form-group">
              <label for="inputFirstName">Estado Civil</label>
              <select class="form-control" [(ngModel)]="estadocivil">
                <option value="volvo">Soltero</option>
                <option value="volvo">Casado</option>
                <option value="volvo">Viudo</option>
                <option value="volvo">Divorciado</option>
               </select>
            </div>
          </div>
          <div class="row"  *ngIf="Pjuridica">
            <div class="col-sm-4 form-group">
              <label for="inputFirstName">Razon Social</label>
              <input type="text" class="form-control"  [(ngModel)]="Rsocial" id="Rsocial" placeholder="Razon Social">
            </div>
          <div class="col-sm-4 form-group">
             <label for="inputFirstName">Giro</label>
             <input type="text" class="form-control"  [(ngModel)]="giro" id="inputEmail" placeholder="Giro">
            </div>
             <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputEmail">Contacto</label>
                  <input type="text" class="form-control"  [(ngModel)]="contacto" id="inputEmail" placeholder="Contacto">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 form-group">
              <label for="inputFirstName">Direccion</label>
              <input type="text" class="form-control"  [(ngModel)]="direccion" id="direccion" placeholder="Direccion">
            </div>
          <div class="col-sm-3 form-group">
             <label for="inputFirstName">Departamento</label>
             <input type="text" class="form-control"  [(ngModel)]="departamento" id="departamento" placeholder="Departamento">
            </div>
             <div class="col-sm-3">
                <div class="form-group">
                  <label for="inputEmail">Provincia</label>
                  <input type="text" class="form-control"  [(ngModel)]="provincia" id="provincia" placeholder="Provincia">
              </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                  <label for="inputEmail">Distrito</label>
                  <input type="text" class="form-control"  [(ngModel)]="distrito" id="distrito" placeholder="Distrito">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 form-group">
              <label for="inputFirstName">E-mail</label>
              <input type="text" class="form-control"  [(ngModel)]="email" id="direccion" placeholder="E-mail">
            </div>
          <div class="col-sm-3 form-group">
             <label for="inputFirstName">Observaciones</label>
             <input type="text" class="form-control"  [(ngModel)]="obsev" id="departamento" placeholder="Observaciones">
            </div>
             <div class="col-sm-3">
                <div class="form-group">
                  <label for="inputEmail">Licencia</label>
                  <input type="text" class="form-control"  [(ngModel)]="licencia" id="provincia" placeholder="Licencia">
              </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                  <label for="inputEmail">fecha de alta</label>
                  <input type="date" class="form-control"  [(ngModel)]="fchaalta" id="distrito" placeholder=">fecha de alta">
              </div>
            </div>
          </div>
          <div class="pull-right">
           <button class="btn btn-hero-success main-btn" (click)="GavaPersona()">{{estadoBoton}}</button>
           <button class="btn btn-hero-info main-btn" (click)="CanPersona()">Cancelar</button>
       </div>
       </div>
       <div>
       </div>

          
      </nb-card-body>
  </nb-card>
</div>
</div>